/* ! PART ONE =============================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500&family=Quicksand:wght@300;324;400;500&family=Raleway:ital,wght@0,510;0,700;1,100;1,300;1,700&display=swap');
/* font-family: 'Quicksand', sans-serif; */


body{
    background-color: rgb(124, 235, 166) ;
}

.fill{
   background-image: url('http://source.unsplash.com/random/100*100');
   position: relative;
   height: 100px;
   width: 100px;
   top: 5px;
   left: 5px;
   cursor: pointer;
   border-radius: 8px;
}

.empty{
    /* because we don't want them to display on each other so they will be in a line*/
    display: inline-block;
    height: 110px;
    width: 110px;
    margin: 11px;
    border: 4px solid rgb(71, 209, 71);
    border-radius: 8px;
    background-color: #fff;
}

.hold{
   border:4px solid rgb(85, 12, 85) ;
}

.hovered{
  background: rgb(33, 121, 143);
  border-style: dotted;
}

.invisible{
    display: none;
}

/* ! PART TWO =============================================================================================== */

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Quicksand', sans-serif;

}

.draggable-list{
    border: 2px solid rgb(202, 117, 117);
    color: #000;
    padding: 0;
    list-style-type: none;
}

.draggable-list li{
   display: flex;
   flex: 1;
}
.draggable-list li:not(:last-of-type){
    border-bottom: 1px solid #000
}

.draggable-list .number{
    display: flex;
    background-color: rgb(91, 124, 94);
    align-items: center;
    justify-content:center;
    font-size: 28px;
    height: 60px;
    width: 60px;
}

.draggable-list .company-name{
    margin: 0 20px 0 0;
    font-size: 18px;
}
.draggable-list li.right .company-name{
   color: rgb(135, 233, 135);
}
.draggable-list li.wrong .company-name{
  color: rgb(255, 62, 62);
}

.draggable{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px;
    flex: 1;
}


