// loop
// * iterates over color and makes .text-... class and etc
//*    variables     map
@each $key, $val in $colors {
//*     variable
  .text-#{$key} {
    color: $val;
  }

  .text-hover-#{$key} {
    //  & is a parent selector which lets us to select several targets in one selector
    &:hover {
      color: $val;
    }
  }
  .bg-#{$key} {
    background-color: $val;
  }

  //  a simple if condition that says if the color (val) is not equal to black and white do this
  //  we can also use @else too
  @if ($val != black and $val != white) {
    // light variations

    //*  iterate over color from first to ninth one
    @for $i from 1 through 9 {
      .text-#{$key}-light-#{$i} {
        //  mix is a built in func that mixes colors ( color1, color2, percentage)
        color: mix(white, $val, $i * 10);
      }
      .text-hover-#{$key}-light-#{$i} {
        &:hover {
          color: mix(white, $val, $i * 10);
        }
      }
      .bg-#{$key}-light-#{$i} {
        background-color: mix(white, $val, $i * 10);
      }
    }

    // dark variations
    @for $i from 1 through 9 {
      .text-#{$key}-dark-#{$i} {
        color: mix(black, $val, $i * 10);
      }
      .text-hover-#{$key}-dark-#{$i} {
        &:hover {
          color: mix(black, $val, $i * 10);
        }
      }
      .bg-#{$key}-dark-#{$i} {
        background-color: mix(black, $val, $i * 10);
      }
    }
  }
}

// &:nth-child, &:active, &:visited, &:last-child etc